/* Общие стили */
body {
    font-family: 'Verdana', sans-serif; /* Шрифт для всей страницы */
    background: url('FireService.png') no-repeat center center fixed; /* Фоновое изображение */
    background-size: cover; /* Фон будет покрывать всю страницу */
    background-position: center; /* Фон будет центрирован */
    background-attachment: fixed; /* Фон будет фиксированным при прокрутке */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Центрирует контент по горизонтали */
    align-items: center; /* Выравнивает контент по верхнему краю */
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 90%; /* Ширина контейнера */
    max-width: 500px; /* Максимальная ширина контейнера */
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон для контейнера */
    padding: 30px; /* Увеличены отступы */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 40px; /* Отступ сверху */
    text-align: center; /* Центрируем текст внутри контейнера */
}

h1 {
    color: olive; /* Цвет заголовка */
    margin-bottom: 20px; /* Отступ снизу заголовка */
}

form {
    display: flex; /* Используем flexbox для формы */
    flex-direction: column; /* Вертикальное направление */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px; /* Отступы внутри полей ввода */
    margin: 10px 0; /* Отступы сверху и снизу */
    border: 1px solid #ccc; /* Граница полей ввода */
    border-radius: 5px; /* Скругленные углы */
    font-size: 1em; /* Размер шрифта */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #2980b9; /* Цвет границы при фокусе */
    outline: none; /* Убираем обводку по умолчанию */
}

.btn_registration {
    background-color: #2980b9; /* Цвет кнопки регистрации */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор при наведении */
    font-size: 1em; /* Размер шрифта */
    margin-top: 10px; /* Отступ сверху кнопки */
}

.btn_registration:hover {
    background-color: #1c5980; /* Темный цвет кнопки при наведении */
}

h2 {
    color: red; /* Цвет сообщения об ошибке */
    margin-top: 20px; /* Отступ сверху */
}